body {
  box-sizing: border-box;
}


.container {
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.title h1 {
  font-family: 'Rhodium Libre';
  /* font-family: 'Rhodium Libre', serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  color: #EBE3E3;
  line-height: 45px;
}



.readmore a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 314px;
  height: 55px;
  box-sizing: border-box;
}

.readmore a::after {
  position: absolute;
  right: 16px;
  content: ">";
  font-size: 30px;

}

.intro_const_common {
  margin-top: 45px;
}

.intro_const_common .content {
  width: 100%;
  height: 317px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #FFFFFF;
}

.intro_const_common .content h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;

}

.intro_const_common .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;

}

.intro_const_common .content .readmore a {
  border: 1px solid #FFFFFF;
}

/* トップ画像 */
.hero_sub {
  width: 100%;
  height: 170px;
  background: url(../img/hero/company_hero_mobile.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.hero_sub h1 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 10px;

}


.subtitle h2 {
  width: 100%;
  height: 95px;
  margin: 0 0 47px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0F586F 55.82%, rgba(20, 96, 124, 0.828545) 63.4%, rgba(23, 147, 217, 0.08) 100.04%);
  color: #FFFFFF;
  font-size: 22px;
  line-height: 32px;

}

.text p+p {
  margin-top: 10px;
}


.feature {
  width: 90%;
  margin: 30px auto;
}

.feature img {
  width: 100%;
}

