
/* ヒーロー */

.hero_main {
  width: 100%;
  height: 466px;
  background: url(../img/hero/hero_mobile.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}

.hero_main .text {
  position: absolute;
  top: 192px;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #ffffff;

}

.hero_main .text h1 {
  font-size: 2.4rem;
  font-weight: 300;
}

.hero_main .text p {
  font-size: 1.2rem;
}

.bottom_top_image img {
  width: 100%;
}

/* 会社 */
.company {
  background-image: url(../img/company_info/com_info_bg.jpg);
  background-size: cover;
  padding: 50px 0 40px 0;
}

.company .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company .text h1 {
  position: relative;
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 24px;
  border-bottom: 2px solid #c4c4c4;
}

.company .text h1::after {
  position: absolute;
  bottom: -2px;
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  background: #1793D9;
}

.company .text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  align-self: start;
}



.company .pic {
  margin: 44px 0 0 0;
}

.company .pic img {
  width: 100%;
}


.company .readmore {
  display: flex;
  justify-content: center;
}

.company .readmore a {
  border: solid 1px #4D4949;
}

.company .readmore a::after {
  color: #4D4949;

}

/* リフォーム内容 */

.remodeling {
  margin: 45px 0 0 0;
}

.remodeling_box .explanation {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #333030;
  width: 100%;


  color: #FFFFFF;
}

.remodeling .text {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 550px;

}

.remodeling_box .explanation h3 {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 26px;

}

.remodeling_box .explanation h3::before {
  position: absolute;
  left: -80px;
  top: -35px;
  content: "";
  width: 80px;
  height: 80px;



}

.remodeling_box .picture {
  width: 100%;
  height: 364px;

}

.remodeling_box .explanation p {
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 23px;
  letter-spacing: 0.1em;
  align-self: flex-start;


}

.remodeling_box .explanation p+p {
  margin-top: 10px;
}


.remodeling_box .explanation .painting::before {
  background: url(../img/remodeling/painting.png) no-repeat center center;
  background-size: cover;
}

.remodeling_box .explanation .closs::before {
  background: url(../img/remodeling/closs.png) no-repeat center center;
  background-size: cover;
}

.remodeling_box .explanation .roof::before {
  background: url(../img/remodeling/roof.png) no-repeat center center;
  background-size: cover;
}

.remodeling_box .explanation .balcony::before {
  background: url(../img/remodeling/balcony.png) no-repeat center center;
  background-size: cover;
}


.remodeling_box .picture.painting_pic {
  background: url(../img/remodeling/painting_image.jpg) no-repeat center center;
  background-size: cover;
}

.remodeling_box .picture.closs_pic {
  background: url(../img/remodeling/closs_image.jpg) no-repeat center center;
  background-size: cover;
}

.remodeling_box .picture.roof_pic {
  background: url(../img/remodeling/roof_image.jpg) no-repeat center center;
  background-size: cover;
}

.remodeling_box .picture.balcony_pic {
  background: url(../img/remodeling/balcony_image.jpg) no-repeat center center;
  background-size: cover;
}


/* 職人紹介 */
#introduction .content {
  background: url(../img/introduction.jpg) no-repeat center center;
  background-size: cover;
}

/* 施工事例 */

#construction .content {
  background: url(../img/construction/construction.jpg) no-repeat center center;
  background-size: cover;
}



/* 対応エリア */
.area {
  display: flex;
  flex-direction: column;
  margin: 45px 0 55px;

}

.map img {
  width: 100%;
}

.area .text {
  margin-top: 30px;
  display: flex;
  justify-content: center;

}

.area .text p {

  font-size: 1.6rem;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;


}

